
<div class="cont_portafolio">
    <div class="encabezado">Angular</div>

        @for (item of proyectos; track $index) {
    
            <div class="card">
                <a [href]="item.link" target="_blank">
                    <div class="proyecto">
                        <div class="titulo">
                            {{ item.title }}
                        </div>
                        <div class="cont_imagen">
                            <img [src]=" item.img " alt="">
                        </div>
                        <div class="texto">
                            <p> {{ item.text_title }} </p>
                            <p [innerHTML]="item.text"></p>
                        </div>
                    </div>
                    
                    
                </a>
                <section>
                    <div class="example-button-row">
                        <button class="proyect_button" routerLink="/verMas/{{item.id}}"  mat-raised-button> Ver mas</button>
                    </div>
                </section>
                
            </div>

        }

</div>

<div class="cont_portafolio">
    <div class="encabezado my-5">HTML, CSS, JavaScript</div>

        @for (item of proyectos_html; track $index) {
    
            <a [href]="item.link" target="_blank">
                <div class="proyecto">
                    <div class="titulo">
                        {{ item.title }}
                    </div>
                    <div class="cont_imagen">
                        <img [src]=" item.img " alt="">
                    </div>
                    <div class="texto">
                        <p> {{ item.text_title }} </p>
                        <p [innerHTML]="item.text"></p>
                    </div>
                </div>
            </a>      
            

        }

</div>

