<div class="container">
    <h1>
        Sobre Mi
    </h1>
    <h2>
        Hola, mi nombre es Juan Manuel
    </h2>
    <p>Me apasiona el mundo del desarrollo web y encuentro una gran satisfacción en crear 
        experiencias interactivas y atractivas en línea. Mi enfoque principal se centra en 
        las tecnologías fundamentales como HTML, CSS y JavaScript puro, las cuales considero 
        los pilares esenciales para construir proyectos sólidos y eficientes.
    </p>
    <p>
        Además, he ampliado mis habilidades incorporando frameworks como Bootstrap y Angular en
        mis proyectos.
    </p>

    
    <section class="datos-personales">
        <div class="card border-success mb-3" style="max-width: 60%;">
            <div class="card-header text-center">Datos Personales</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"> <span>Cumpleaños:</span> 19 feb 1987</li>
                    <li class="list-group-item"> <span>Website:</span> https://juangtz.com/</li>
                    <li class="list-group-item"> <span>Titulo:</span> Ingenieria en Tecnoligia Computacional</li>
                    <li class="list-group-item"> <span>Edad:</span> 36 años </li>
                    <li class="list-group-item"> <span>Email:</span> jmgv87191&#64;gmail.com </li>
                </ul>

            </div>
        </div>
    </section>

</div>