<div class="container">
    <h1>
        Sobre Mi
    </h1>
    <h2>
        Hola, mi nombre es Juan Manuel
    </h2>
    <p>Me apasiona el mundo del desarrollo web y encuentro una gran satisfacción en crear 
        experiencias interactivas y atractivas en línea. Mi enfoque principal se centra en 
        las tecnologías fundamentales como HTML, CSS y JavaScript puro, las cuales considero 
        los pilares esenciales para construir proyectos sólidos y eficientes.
    </p>
    <p>
        Además, he ampliado mis habilidades incorporando frameworks como Bootstrap y Angular en
        mis proyectos.
    </p>

    
    <section class="datos-personales">

        <div class="card border-success mb-3 cont_card">
            <div class="card-header text-center">Datos Personales</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"> <span>Cumpleaños:</span> 19 feb 1987</li>
                    <li class="list-group-item"> <span>Website:</span> https://jmgutierrez.com</li>
                    <li class="list-group-item"> <span>Titulo:</span> Ingenieria en Tecnoligia Computacional</li>
                    <li class="list-group-item"> <span>Edad:</span> 36 años </li>
                    <li class="list-group-item"> <span>Email:</span> jmgv87191&#64;gmail.com </li>
                </ul>

            </div>
        </div>
        <div class="cont_herramientas">

            <div class="herramientas-header">
                <span>HTML</span>
                <span>80%</span>
            </div>
            <div class="herramientas-barra">
                <div class="herramientas-barra-interna-html"></div>
            </div>

            <div class="herramientas-header">
                <span>CSS</span>
                <span>90%</span>
            </div>
            <div class="herramientas-barra">
                <div class="herramientas-barra-interna-html" style="width: 90%;"></div>
            </div>

            <div class="herramientas-header">
                <span>JavaScript</span>
                <span>70%</span>
            </div>
            <div class="herramientas-barra">
                <div class="herramientas-barra-interna-html" style="width: 70%;"></div>
            </div>

            <div class="herramientas-header">
                <span>Angular</span>
                <span>70%</span>
            </div>
            <div class="herramientas-barra">
                <div class="herramientas-barra-interna-html" style="width: 70%;"></div>
            </div>
            
        </div>
    </section>

    <section class="educacion" >

        <div class="cont_educacion">

            <h2 class="text-center">Educacion</h2>
            <hr>
            <div style="font-weight: bolder;" class="fecha">  2019 - 2022</div>

            <p style="font-weight: bolder;">Ingenieria En Teconologia Computacional</p>
            <p>
                Durante mis estudios, he cultivado habilidades autodidactas y he
                demostrado una notable capacidad para aprender por mí mismo. 
                Esta experiencia me ha convertido en una persona responsable y 
                comprometida con mi crecimiento académico y profesional.
            </p>

            <div style="font-weight: bolder;" class="fecha">2022 - 2022</div>

            <p style="font-weight: bolder;">Cursos Online De Frontend</p>
            <p >
                A través de estos cursos, me sumergí en el desarrollo frontend y 
                exploré diversas tecnologías como HTML, CSS y Javascript y algunos 
                frameworks como bootstrap. Esta experiencia no solo amplió mis 
                conocimientos técnicos, sino que también fortaleció mi capacidad 
                para aprender de forma autodidacta            
            </p>

            <div style="font-weight: bolder;" class="fecha">2022 - 2023</div>

            <p style="font-weight: bolder;">Cursos De Angular</p>
            <p >
                Durante mi periodo de formación, también aproveché la 
                oportunidad para adquirir habilidades en tecnologías específicas, 
                como Angular. Participé en cursos dedicados a este popular framework 
                de desarrollo de aplicaciones web frontend, donde aprendí los 
                fundamentos y técnicas avanzadas para la creación de aplicaciones 
                web dinámicas y escalables.
            </p>

        </div>

        <div class="cont_educacion">
            <h2 class="text-center">Experiencia laboral</h2>
            <hr>

            <div style="font-weight: bolder;" class="fecha">2021 - 2021</div>
            <p style="font-weight: bolder;">Practicas Profesionales</p>
            <p>
                Durante mis prácticas profesionales, tuve la oportunidad de 
                desarrollar un proyecto que consistía en la creación de un 
                formulario en línea para el registro de factibilidad de servicios 
                del sistema de agua potable de mi estado. En este proyecto, diseñé 
                y desarrollé un sistema donde los usuarios podían ingresar datos 
                relevantes y también adjuntar archivos PDF según fuera necesario 
                el proyecto fue realizado con HTML, CSS, JavaScript y PHP
            </p>

            <div style="font-weight: bolder;" class="fecha"> 2022 - 2024</div>
            <p style="font-weight: bolder;">Programador En OOMSAPAS La Paz</p>
            <p>
                Cuando termine mis practicas profesionales se me dio la oportunidad 
                de unirme al equipo de trabajo de OOMSAPAS La Paz(organismo operador 
                municipal del sistema de agua potable alcantarillado y saneamiento 
                de la paz) como programador, puesto en el cual he realizado tareas 
                de actualizacion de la pagina principal del OOMSAPAS (wordpress), 
                desarrollo de software interno, el frontend de un sistema de 
                monitoreo en tiempo real de medicion de presion del agua entre 
                otras actividades.
            </p>




        </div>
    </section>

</div>